$accent-color: #2196f3;
$primary-black-color: #212121;
$logo-black: #000000;
$primary-gray-color: #757575;
$primary-white-color: #ffffff;
$background-color-dark: #2f303a;
$background-color-white: #f5f4fa;
$text-white-opacity: #ffffff99;
$container-padding: calc((100% - 1200px) / 2);