.hero {
    background: $background-color-dark;
    padding: 200px $container-padding;
    text-align: center;
    background: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Img-hero.svg);
    
  }
  
  .hero__title {
    font-weight: 900;
    letter-spacing: 0.06;
    font-size: 44px;
    width: 696px;
    margin: 20px auto;
    color: $primary-white-color;
  }
  
  .hero__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: $primary-white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
    cursor: pointer;
  }
  